body {
  color: #fff;
  font-family: Georgia, Utopia, Charter, serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

footer {
  background: #02136d;
  box-shadow: 0 50vh 0 50vh #02136d;
}

.page-wrapper {
  margin: 0 auto;
  padding: 0 1rem;
}

.underline {
  display: inline-block;
  border-bottom: 2px solid #02136d;
  margin-bottom: 1rem;
}


/* Navigation */
.hamburger {
  float: right;
  height: 100%;
  font-size: 1.8rem;
  margin: 0.46rem 0;
}

#nav-bar {
  background: #02136d;
  font-family: Verdana, sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
}

#nav-bar li a {
  border: 3px solid #02136d;
  border-left: 0;
  border-right: 0;
  display: inline-block;
  padding: 0.8rem 0;
}

#nav-bar::after {
  clear: both;
  content: "";
  display: table;
}

#nav-logo {
  margin-right: 1rem;
}

#nav-logo img {
  height: 2.73333125rem;
  vertical-align: top;
  width: auto;
}

/* BP Nav Logo */
#nav-logo img:first-of-type {
  display: none;
}

/* BrunelPlanning Nav Logo */
#nav-logo img:last-of-type {
  display: inline-block;
  height: 2.6rem;
  margin-top: 0.13333125rem;
}

#nav-regular {
  display: none;
  float: right;
}

#nav-regular li {
  display: inline-block;
  margin-right: 1.5rem;
}

#nav-regular li:last-of-type {
  margin-right: 0;
}

#nav-mobile {
  max-height: 0;
  overflow-y: hidden;
  text-align: center;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

#nav-mobile li:first-of-type {
  margin-top: 0.8rem;
}

#nav-mobile li:last-of-type {
  margin-bottom: 0.8rem;
}

#nav-mobile.opened {
  max-height: 24rem;
}
/* End of Navigation */


/* Mobile Banner Image */
#image-banner img {
  max-width: 100%;
  vertical-align: top;
}
/* End of Mobile Banner Image */


/* Main Content */
.content-wrapper {
  clear: both;
  content: "";
  display: table;
  width: 100%;
}

.content-wrapper.duration-left {
  transition-duration: 600ms;
}

.content-wrapper.duration-right {
  transition-duration: 900ms;
}

.content-wrapper.loading-left {
  -webkit-transform: translate(-100%);
      -ms-transform: rotate(-100%);
          transform: rotate(-100%);
}

.content-wrapper.loading-right {
  -webkit-transform: translate(100%);
      -ms-transform: rotate(100%);
          transform: rotate(100%);
}

#logo {
  display: none;
}

#text {
  background: #fff;
  /* border: 5px solid #02136d; */
  color: #02136d;
  line-height: 1.5rem;
  padding: 1rem;
  margin: 1rem 0;
}

#text h1 {
  font-size: 2rem;
  line-height: 2rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

#text p {
  font-size: 1rem;
  margin: 1rem 0;
}

#text p:first-of-type {
  margin-top: 0;
}
/* End of Main Content */


/* Media Queries */
@media (min-width: 48.8rem) {
  body {
    background: url(../images/backgrounds/BristolBridge12Progressive.jpg);
    background-attachment: fixed;
  	background-position: center;
    background-repeat: no-repeat;
  	background-size: cover;
    overflow: hidden;
  }

  footer {
    display: none;
  }

  .underline {
    border-bottom-color: #02136d;
  }

  .hamburger {
    display: none;
  }

  #nav-regular {
    display: block;
  }

  #nav-regular a:hover {
    border-bottom: 3px solid #fff;
  }

  #nav-mobile {
    display: none;
  }

  /* BP Nav Logo */
  #nav-logo img:first-of-type {
    display: inline-block;
  }

  /* BrunelPlanning Nav Logo */
  #nav-logo img:last-of-type {
    display: none;
  }

  #image-banner {
    display: none;
  }

  #logo {
    display: block;
    float: right;
    height: 6rem;
    margin: 3rem 0;
    width: auto;
  }

  #text {
    background: linear-gradient(to bottom right, #fff, #aaa);
    border: 5px solid #02136d;
    color: #02136d;
    float: right;
    margin: 0;
    width: 35rem;
  }

  #text h1 {
    text-align: left;
  }
}

@media (min-width: 70rem) {
  .page-wrapper {
    padding: 0;
    width: 70rem;
  }
}
/* End of Media Queries */
